In [1]:
import numpy as np
import pandas as pd

In [10]:
X_file_name = 'day{}-data.txt'
YS_file_name = 'day{}-activities.txt'
YC_file_name = 'day{}-routines.txt'
DAYS = 7
input_dataset_path = "/Users/kavin/Silo/Research/WASH/complex_activities/Datasets/dataset_huynh_ubicomp08/"
output_dataset_path = "/Users/kavin/Silo/Research/WASH/Datasets/aroma_dataset_ubicomp08_filter_only_unlabeled/"

In [3]:
def snip_dataset(inputs):
    for i in inputs:
        file_contents = []
        with open(input_dataset_path + i, 'r') as file:
            for c, l in enumerate(file):
                file_contents.append(l.strip())
            if(len(file_contents) % 750 != 0):
                with open(output_dataset_path + i, 'w') as f:
                    for line in file_contents[:(len(file_contents)//750)*750]:
                        f.write("%s\n" % line)

In [4]:
X_INPUT_PATHS = [X_file_name.format(i + 1) for i in range(DAYS)]
YS_INPUT_PATHS = [YS_file_name.format(i + 1) for i in range(DAYS)]
YC_INPUT_PATHS = [YC_file_name.format(i + 1) for i in range(DAYS)]

In [9]:
snip_dataset(X_INPUT_PATHS)
snip_dataset(YS_INPUT_PATHS)
snip_dataset(YC_INPUT_PATHS)

In [9]:
all_days_data = pd.read_csv(input_dataset_path+"ubicomp08_complex_data_all_days.csv")

In [13]:
all_days_data

,mean_poc_x,mean_poc_y,mean_poc_z,var_poc_x,var_poc_y,var_poc_z,mean_wri_x,mean_wri_y,mean_wri_z,var_wri_x,var_wri_y,var_wri_z,timestamp,simple_label,complex_label,day
0,131.0,101.0,113.0,0.0,0.0,0.0,107.999561,111.000439,100.999561,0.000000,1.000439,0.000000,1.187257e+09,0.0,0.0,1.0
1,132.0,101.0,113.0,0.0,0.0,0.0,108.998671,110.001329,101.999983,0.000000,0.000017,0.000000,1.187257e+09,0.0,0.0,1.0
2,132.0,101.0,112.0,0.0,0.0,0.0,109.000010,109.999990,101.002235,0.000000,0.999942,0.000000,1.187257e+09,0.0,0.0,1.0
3,132.0,101.0,112.0,0.0,0.0,0.0,109.000000,109.993924,101.003019,-0.003038,-0.018115,-0.003038,1.187257e+09,0.0,0.0,1.0
4,132.0,101.0,112.0,0.0,0.0,0.0,109.003892,111.991904,100.004048,0.999844,6.991095,0.992060,1.187257e+09,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773812,110.0,122.0,130.0,0.0,0.0,0.0,104.000000,113.000000,102.994632,0.000000,0.000000,0.000000,1.186615e+09,0.0,0.0,7.0
773813,109.0,122.0,130.0,0.0,0.0,0.0,104.000000,112.999967,101.996016,0.000000,0.000000,0.000000,1.186615e+09,0.0,0.0,7.0
773814,109.0,122.0,130.0,0.0,0.0,0.0,103.999983,113.002959,102.000000,0.000000,0.000000,0.000000,1.186615e+09,0.0,0.0,7.0
773815,109.0,122.0,130.0,0.0,0.0,0.0,104.001754,113.999970,102.000000,0.000000,0.000000,0.000000,1.186615e+09,0.0,0.0,7.0
773816,109.0,122.0,130.0,0.0,0.0,0.0,105.000577,112.999423,102.000000,0.000000,0.000000,0.000000,1.186615e+09,0.0,0.0,7.0

In [18]:
np.unique(all_days_data[all_days_data.complex_label == 0].simple_label.values, return_counts = True)

(array([ 0.,  3.,  4.,  5.,  6.,  9., 10., 12., 13., 14., 18., 21., 22.,
        23., 25., 28., 29., 30., 31., 32.]),
 array([85483,  2865,   668,  2633,  1773,   702,  3316,  1324,   462,
        56275,  3736,   285,   870,   231, 30212,  1259,  2333,    45,
         1226,  6489]))

In [ ]:
0 unlabeled 142588
2 driving cart through supermarket 0
4 brushing teeth 668
5 personal hygiene 2633
6 kneeling  1773
9 having breakfast 702
12 sitting  talking on phone 1324
18 standing  talking on phone 3789
25 lying  using computer 30212
28 kneeling  making fire for barbecue 1259
29 fanning barbecue 2333
31 setting the table 1226
32 watching movie 6489
36 standing  eating 0

In [35]:
simple_activities = open(input_dataset_path+"activities.txt", 'r').read().strip().split('\n')

In [36]:
s_labels_index = [1, 3, 7, 8, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 30, 33, 34, 35]

In [74]:
len(s_labels_index)

23

In [41]:
for i in zip(range(len(simple_activities)), simple_activities):
    print(i)

(0, 'unlabeled')
(1, 'driving bike')
(2, 'driving cart through supermarket')
(3, 'driving car')
(4, 'brushing teeth')
(5, 'personal hygiene')
(6, 'kneeling ')
(7, 'running')
(8, 'sitting  having a coffee')
(9, 'having breakfast')
(10, 'having dinner')
(11, 'having lunch')
(12, 'sitting  talking on phone')
(13, 'using the toilet')
(14, 'sitting  desk activities')
(15, 'standing  talking')
(16, 'standing  having a coffee')
(17, 'queuing in line')
(18, 'standing  talking on phone')
(19, 'standing  using the toilet')
(20, 'walking')
(21, 'walking while carrying something')
(22, 'walking freely')
(23, 'washing dishes')
(24, 'picking up mensa food')
(25, 'lying  using computer')
(26, 'wiping the whiteboard')
(27, 'discussing at whiteboard')
(28, 'kneeling  making fire for barbecue')
(29, 'fanning barbecue')
(30, 'washing hands')
(31, 'setting the table')
(32, 'watching movie')
(33, 'making coffee')
(34, 'attending a presentation')
(35, 'preparing food')
(36, 'standing  eating')

In [42]:
len(s_labels_index)

23

In [43]:
for i in s_labels_index:
    print(i, simple_activities[i])

1 driving bike
3 driving car
7 running
8 sitting  having a coffee
10 having dinner
11 having lunch
13 using the toilet
14 sitting  desk activities
15 standing  talking
16 standing  having a coffee
17 queuing in line
19 standing  using the toilet
20 walking
21 walking while carrying something
22 walking freely
23 washing dishes
24 picking up mensa food
26 wiping the whiteboard
27 discussing at whiteboard
30 washing hands
33 making coffee
34 attending a presentation
35 preparing food

In [45]:
for i in np.setdiff1d(range(len(simple_activities)), s_labels_index):
    print(i, simple_activities[i])

0 unlabeled
2 driving cart through supermarket
4 brushing teeth
5 personal hygiene
6 kneeling
9 having breakfast
12 sitting  talking on phone
18 standing  talking on phone
25 lying  using computer
28 kneeling  making fire for barbecue
29 fanning barbecue
31 setting the table
32 watching movie
36 standing  eating

In [47]:
all_activities = []
for i in YS_INPUT_PATHS:
    file_activities = open(input_dataset_path + i, 'r').read().strip().split('\n')
    all_activities.extend(file_activities)

In [68]:
activities_count = list(zip(*np.unique([int(i) for i in all_activities], return_counts = True)))
activities_count.sort(key=lambda x: x[0])
activities_count = dict(activities_count)
activities_count

{0: 142588,
 1: 7089,
 3: 18424,
 4: 668,
 5: 2633,
 6: 1773,
 7: 160,
 8: 3332,
 9: 702,
 10: 19173,
 11: 11493,
 12: 1324,
 13: 2559,
 14: 461671,
 15: 426,
 16: 1030,
 17: 3032,
 18: 3789,
 19: 459,
 20: 3495,
 21: 3529,
 22: 19005,
 23: 1967,
 24: 3460,
 25: 30212,
 26: 127,
 27: 9596,
 28: 1259,
 29: 2333,
 30: 328,
 31: 1226,
 32: 6489,
 33: 275,
 34: 7484,
 35: 707}

In [66]:
for i in s_labels_index:
    print(i, simple_activities[i], activities_count[i])

1 driving bike 7089
3 driving car 18424
7 running 160
8 sitting  having a coffee 3332
10 having dinner 19173
11 having lunch 11493
13 using the toilet 2559
14 sitting  desk activities 461671
15 standing  talking 426
16 standing  having a coffee 1030
17 queuing in line 3032
19 standing  using the toilet 459
20 walking 3495
21 walking while carrying something 3529
22 walking freely 19005
23 washing dishes 1967
24 picking up mensa food 3460
26 wiping the whiteboard 127
27 discussing at whiteboard 9596
30 washing hands 328
33 making coffee 275
34 attending a presentation 7484
35 preparing food 707

In [69]:
for i in np.setdiff1d(range(len(simple_activities)), s_labels_index):
    try:
        print(i, simple_activities[i], activities_count[i])
    except KeyError:
        print(i, simple_activities[i], 0)

0 unlabeled 142588
2 driving cart through supermarket 0
4 brushing teeth 668
5 personal hygiene 2633
6 kneeling  1773
9 having breakfast 702
12 sitting  talking on phone 1324
18 standing  talking on phone 3789
25 lying  using computer 30212
28 kneeling  making fire for barbecue 1259
29 fanning barbecue 2333
31 setting the table 1226
32 watching movie 6489
36 standing  eating 0

In [ ]:
list(np.unique([int(i) for i in all_activities]))

In [72]:
True and False

False

In [11]:
#Filter only unlabeled rows
for day in range(DAYS):
    data_X = []
    data_YS = []
    data_YC = []
    bool_simple = []
    bool_complex = []
    with open(input_dataset_path + X_file_name.format(day + 1), 'r') as data_file:
        for c, l in enumerate(data_file):
            data_X.append(l.strip())
    with open(input_dataset_path + YS_file_name.format(day + 1), 'r') as simple_file:
        for c, l in enumerate(simple_file):
            data_YS.append(l.strip())
            if int(l.strip()) == 0:
                bool_simple.append(False)
            else:
                bool_simple.append(True)
    with open(input_dataset_path + YC_file_name.format(day + 1), 'r') as complex_file:
        for c, l in enumerate(complex_file):
            data_YC.append(l.strip())    
            if int(l.strip()) == 0:
                bool_complex.append(False)
            else:
                bool_complex.append(True)
    bool_X = [bs and bc for bs, bc in zip(bool_simple, bool_complex)]
    #print(bool_X)
    mod_data_X, mod_data_YS, mod_data_YC = [], [], []
    for index, line in enumerate(data_X):
        if(bool_X[index]):
            mod_data_X.append(line)
    for index, line in enumerate(data_YS):
        if(bool_X[index]):
            mod_data_YS.append(line)        
    for index, line in enumerate(data_YC):
        if(bool_X[index]):
            mod_data_YC.append(line)        
                    
    if(len(mod_data_X) % 750 != 0):
        with open(output_dataset_path + X_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_X[:(len(mod_data_X)//750)*750]):
                f.write("%s\n" % line)
        with open(output_dataset_path + YS_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YS[:(len(mod_data_YS)//750)*750]):
                f.write("%s\n" % line)
        with open(output_dataset_path + YC_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YC[:(len(mod_data_YC)//750)*750]):
                f.write("%s\n" % line)
    else:
        with open(output_dataset_path + X_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_X):
                f.write("%s\n" % line)
        with open(output_dataset_path + YS_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YS):
                f.write("%s\n" % line)
        with open(output_dataset_path + YC_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YC):
                f.write("%s\n" % line)

In [ ]:
#Filter given subset of simple labels and unlabeled
for day in range(DAYS):
    data_X = []
    data_YS = []
    data_YC = []
    bool_simple = []
    bool_complex = []
    with open(input_dataset_path + X_file_name.format(day + 1), 'r') as data_file:
        for c, l in enumerate(data_file):
            data_X.append(l.strip())
    with open(input_dataset_path + YS_file_name.format(day + 1), 'r') as simple_file:
        for c, l in enumerate(simple_file):
            data_YS.append(l.strip())
            if int(l.strip()) in s_labels_index:
                bool_simple.append(True)
            else:
                bool_simple.append(False)
    with open(input_dataset_path + YC_file_name.format(day + 1), 'r') as complex_file:
        for c, l in enumerate(complex_file):
            data_YC.append(l.strip())    
            if int(l.strip()) == 0:
                bool_complex.append(False)
            else:
                bool_complex.append(True)
    bool_X = [bs and bc for bs, bc in zip(bool_simple, bool_complex)]
    #print(bool_X)
    mod_data_X, mod_data_YS, mod_data_YC = [], [], []
    for index, line in enumerate(data_X):
        if(bool_X[index]):
            mod_data_X.append(line)
    for index, line in enumerate(data_YS):
        if(bool_X[index]):
            mod_data_YS.append(line)        
    for index, line in enumerate(data_YC):
        if(bool_X[index]):
            mod_data_YC.append(line)        
                    
    if(len(mod_data_X) % 750 != 0):
        with open(output_dataset_path + X_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_X[:(len(mod_data_X)//750)*750]):
                f.write("%s\n" % line)
        with open(output_dataset_path + YS_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YS[:(len(mod_data_YS)//750)*750]):
                f.write("%s\n" % line)
        with open(output_dataset_path + YC_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YC[:(len(mod_data_YC)//750)*750]):
                f.write("%s\n" % line)
    else:
        with open(output_dataset_path + X_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_X):
                f.write("%s\n" % line)
        with open(output_dataset_path + YS_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YS):
                f.write("%s\n" % line)
        with open(output_dataset_path + YC_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YC):
                f.write("%s\n" % line)

In [ ]:
# No Filter
for day in range(DAYS):
    data_X = []
    data_YS = []
    data_YC = []
    bool_simple = []
    bool_complex = []
    with open(input_dataset_path + X_file_name.format(day + 1), 'r') as data_file:
        for c, l in enumerate(data_file):
            data_X.append(l.strip())
    with open(input_dataset_path + YS_file_name.format(day + 1), 'r') as simple_file:
        for c, l in enumerate(simple_file):
            data_YS.append(l.strip())
            if int(l.strip()) in s_labels_index:
                bool_simple.append(True)
            else:
                bool_simple.append(False)
    with open(input_dataset_path + YC_file_name.format(day + 1), 'r') as complex_file:
        for c, l in enumerate(complex_file):
            data_YC.append(l.strip())    
            if int(l.strip()) == 0:
                bool_complex.append(False)
            else:
                bool_complex.append(True)
    bool_X = [bs and bc for bs, bc in zip(bool_simple, bool_complex)]
    #print(bool_X)
    mod_data_X, mod_data_YS, mod_data_YC = [], [], []
    for index, line in enumerate(data_X):
        if(bool_X[index]):
            mod_data_X.append(line)
    for index, line in enumerate(data_YS):
        if(bool_X[index]):
            mod_data_YS.append(line)        
    for index, line in enumerate(data_YC):
        if(bool_X[index]):
            mod_data_YC.append(line)        
                    
    if(len(mod_data_X) % 750 != 0):
        with open(output_dataset_path + X_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_X[:(len(mod_data_X)//750)*750]):
                f.write("%s\n" % line)
        with open(output_dataset_path + YS_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YS[:(len(mod_data_YS)//750)*750]):
                f.write("%s\n" % line)
        with open(output_dataset_path + YC_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YC[:(len(mod_data_YC)//750)*750]):
                f.write("%s\n" % line)
    else:
        with open(output_dataset_path + X_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_X):
                f.write("%s\n" % line)
        with open(output_dataset_path + YS_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YS):
                f.write("%s\n" % line)
        with open(output_dataset_path + YC_file_name.format(day + 1), 'w') as f:
            for index, line in enumerate(mod_data_YC):
                f.write("%s\n" % line)

In [80]:
data_path = "/Users/kavin/Silo/Research/WASH/Datasets/"

data_file = "ubicomp08_routines_lda_5_topic_5_doc_nan_no_overlap_doc_topic_chunk_2.csv"

data_df = pd.read_csv(data_path + data_file)

In [83]:
data_df

,mean_poc_x,mean_poc_y,mean_poc_z,var_poc_x,var_poc_y,var_poc_z,mean_wri_x,mean_wri_y,mean_wri_z,var_wri_x,var_wri_y,var_wri_z,timestamp,simple_activity,activity,day,hour,word,docs,topic
0,138.0,103.0,112.000000,1.0,0.0,0.0,113.002293,108.999083,127.006422,57.982111,84.010091,43.965598,2007-08-08 09:58:19.000000000,0,0,7,9,7,0.0,0.0
1,139.0,104.0,113.000000,22.0,3.0,3.0,108.023402,110.998591,113.019460,97.032164,62.067597,119.036965,2007-08-08 09:58:19.392290115,0,0,7,9,47,0.0,0.0
2,137.0,103.0,114.000000,6.0,2.0,1.0,96.009686,110.002350,113.031725,34.181301,35.124126,16.272573,2007-08-08 09:58:19.784600019,0,0,7,9,42,0.0,0.0
3,140.0,104.0,113.000000,0.0,0.0,0.0,103.951297,110.003155,99.039549,19.079638,7.983175,1.980272,2007-08-08 09:58:20.176890135,0,2,7,9,9,0.0,0.0
4,140.0,104.0,115.000000,2.0,0.0,0.0,110.995012,109.004238,100.999185,9.054073,40.867370,21.975783,2007-08-08 09:58:20.569180012,0,2,7,9,57,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773812,103.0,126.0,127.016126,0.0,0.0,0.0,117.000000,113.000000,94.000000,0.000000,0.000000,0.000000,2007-08-16 22:51:02.978070021,0,0,1,22,24,NaN,NaN
773813,103.0,126.0,126.985704,0.0,0.0,0.0,117.000000,112.000000,94.000000,0.000000,0.000000,0.000000,2007-08-16 22:51:03.369290113,0,0,1,22,24,NaN,NaN
773814,103.0,126.0,126.000849,0.0,0.0,0.0,117.000000,113.000000,94.000000,0.000000,0.000000,0.000000,2007-08-16 22:51:03.760509968,0,0,1,22,24,NaN,NaN
773815,103.0,126.0,127.005438,0.0,0.0,0.0,117.000000,113.000000,94.000000,0.000000,0.000000,0.000000,2007-08-16 22:51:04.151719809,0,0,1,22,24,NaN,NaN
773816,103.0,126.0,127.000000,0.0,0.0,0.0,117.000000,113.000000,94.000000,0.000000,0.000000,0.000000,2007-08-16 22:51:04.542940140,0,0,1,22,24,NaN,NaN

In [114]:
filtered_data_df = data_df[(data_df.simple_activity.isin(s_labels_index)) & (data_df.activity.isin([1, 2, 3, 4]))]

In [115]:
filtered_data_df.fillna(-1, inplace = True)

In [120]:
filtered_data_df.to_csv(data_path+"ubicomp08_routines_lda_5_topic_5_doc_nan_no_overlap_doc_topic_chunk_2_filtered_labels.csv", sep=',', index = False)

In [118]:
for day in range(DAYS):
    day_data_df = filtered_data_df[filtered_data_df.day == day+1]
    day_data_df = day_data_df[:(len(day_data_df)//750)*750]
    day_data_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 19]].to_csv(output_dataset_path + X_file_name.format(day + 1), sep=',', index = False, header = False)
    day_data_df.iloc[:, 13].to_csv(output_dataset_path + YS_file_name.format(day + 1), sep=',', index = False, header = False)
    day_data_df.iloc[:, 14].to_csv(output_dataset_path + YC_file_name.format(day + 1), sep=',', index = False, header = False)

In [103]:
day_data_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 19]]

,mean_poc_x,mean_poc_y,mean_poc_z,var_poc_x,var_poc_y,var_poc_z,mean_wri_x,mean_wri_y,mean_wri_z,var_wri_x,var_wri_y,var_wri_z,topic
64,141.0,140.0,92.0,69.0,4.0,6.0,119.967101,99.802743,104.239938,6.308981,10.339315,7.705332,0.0
65,140.0,143.0,95.0,5.0,45.0,1.0,122.683111,100.699674,100.197914,-0.608151,-2.568543,-0.814821,0.0
66,144.0,141.0,96.0,2.0,6.0,0.0,121.566354,105.456770,99.156210,39.417978,108.092974,26.490507,0.0
67,142.0,144.0,98.0,1.0,1.0,0.0,113.033494,109.402825,96.826511,66.315415,52.389117,32.457014,0.0
68,143.0,142.0,96.0,1.0,0.0,0.0,124.987243,96.978113,103.104357,31.707923,8.831324,3.411774,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83863,137.0,103.0,113.0,0.0,0.0,0.0,118.057433,106.906768,129.008712,19.343285,7.790115,22.130432,0.0
83864,137.0,103.0,113.0,0.0,0.0,0.0,119.146506,104.846925,128.852989,15.465810,27.761070,97.265746,0.0
83865,137.0,103.0,113.0,0.0,0.0,0.0,121.701832,101.895075,123.386880,4.654218,6.101620,15.230141,0.0
83866,137.0,103.0,113.0,0.0,0.0,0.0,111.041303,100.899667,108.578064,31.848538,24.799566,23.512488,0.0
83867,137.0,103.0,113.0,0.0,0.0,0.0,119.619545,99.261886,106.897944,5.734640,3.597451,2.532997,0.0

In [105]:
day_data_df.iloc[:, 13]

64        3
65        3
66        3
67        3
68        3
         ..
83863    23
83864    23
83865    23
83866    23
83867    23
Name: simple_activity, Length: 74250, dtype: int64